server.port=8080

spring.security.oauth2.client.registration.google.client-id=YOUR_GOOGLE_CLIENT_ID
spring.security.oauth2.client.registration.google.client-secret=YOUR_GOOGLE_CLIENT_SECRET
spring.security.oauth2.client.registration.google.scope=openid,profile,email

google.search.api.key=YOUR_GOOGLE_SEARCH_API_KEY
google.search.engine.id=YOUR_GOOGLE_SEARCH_ENGINE_ID

hf.space.base-url=YOUR_HF_SPACE_BASE_URL
hf.space.api-key=YOUR_HF_SPACE_API_KEY

spring.datasource.url=jdbc:mysql://localhost:3306/ai_search?createDatabaseIfNotExist=true
spring.datasource.username=YOUR_DB_USERNAME
spring.datasource.password=YOUR_DB_PASSWORD

spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=trues